.header {

}

.header-logo {
    text-align: center;
}

.footer {
    color: $gray;
}

button,
.btn,
input,
.input {
    padding: 10px 15px;
    background: none;
    border: 1px solid $gray;

    line-height: 1.3;

    transition: all 150ms;

    &:hover,
    &:focus {
        border-color: $black;
    }
}

/**
 * Icons
 */
.icon {
    display: inline-block;
    height: 1em;

    vertical-align: middle;
}


/**
 * audioURL
 */
.audioURL {

}
.audioURL-main {
    display: flex;
    margin: 0 auto 48px;
}

.audioURL-input,
.audioURL-submit {
}
.audioURL-input {
    flex: 1 1 auto;
    &:focus {
        outline: none;
        border-color: $black;
    }
}

.audioURL-submit {
    flex: 0 0 auto;
    margin-left: 8px;

    &:hover,
    &:focus {
        outline: none;
        border-color: $black;

        background: $black;
        color: #fff;
    }
}

/**
 * Player
 */
.player {
    position: relative;
    z-index: 0;
}
.player-title {
    a {
        text-decoration: none;
    }
}

.playerControls {
    position: relative;
    z-index: 0;
    width: 24rem;
    height: 24rem;
    text-align: center;
    background-color: $black;
    overflow: hidden;
    // box-shadow: 6 0 8px rgba(black, .5);
}
.playerControls-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;

    filter: blur(6px);
    transform: scale(1.1);
    transition: all 250ms;
}
.playerControls:hover .playerControls-bg {

}

.playerControl {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    border-radius: 100%;

    font-size: 2rem;
    outline: none;

    background: $white;

    &:hover,
    &:focus {

    }

    &:not(:last-child) {
        margin-right: .5rem;
    }

    .icon {
        vertical-align: -0.15625em;
    }
    .icon-play {
        margin-right: -0.15625em;
    }
}

.playerControl[disabled] {
    opacity: 0.2;

    &:hover {
        color: inherit;
        border-color: inherit;
    }
}

.playerControl--next,
.playerControl--previous {
    width: 4rem;
    height: 4rem;
}

.playerControl--play {
    width: 8rem;
    height: 8rem;
}

/**
 * Playlist
 */
.playlistTrack {
    cursor: pointer;
    // background: $gray-lighter;

    &:hover {
        background: $gray-lightest;
    }
}
.playlistTrack.is-active {
    background: $gray-lightest;
}

.playlistTrack-indicator {
    .icon {
        display: none;
    }
}
.playlistTrack.is-active .playlistTrack-indicator .icon-play {
    display: inline-block;
}