//=============================================================================
//  grid
//=============================================================================

.container {
    max-width: $lg;
    padding: 0px $grid-gutter;
    margin: 0 auto;
}