$fs-default: 16px;

$white: #fff;
$black: #2a2a29;

$gray: #999;
$gray-light: mix($gray, $white, 40%);
$gray-lighter: mix($gray, $white, 25%);
$gray-lightest: mix($gray, $white, 10%);

$grid-gutter: 16px;

/*=============================================================================
    breakpoints
=============================================================================*/
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 480px;


@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder { /* Firefox 18- */
        @content;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

@mixin retina {
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        @content;
    }
}

@mixin media-max($bp) {
    @media (max-width: $bp) {
        @content;
    }
}

@mixin media-min($bp) {
    @media (min-width: ($bp + 1px)) {
        @content;
    }
}